{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "array-callback-return": ["warn", { "checkForEach": true }],
    "camelcase": "warn",
    "dot-notation": "warn",
    "eqeqeq": "warn",
    "id-length": "warn",
    "new-cap": "warn",
    "no-array-constructor": "warn",
    "no-case-declarations": "warn",
    "no-confusing-arrow": "warn",
    "no-const-assign": "error",
    "no-else-return": "warn",
    "no-global-assign": "error",
    "no-mixed-operators": "warn",
    "no-multi-assign": "error",
    "no-nested-ternary": "warn",
    "no-new-object": "warn",
    "no-new-wrappers": "warn",
    "no-prototype-builtins": "warn",
    "no-redeclare": "warn",
    "no-undef": "error",
    "no-underscore-dangle": "warn",
    "no-unneeded-ternary": "warn",
    "no-unused-vars": [
      "off",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "ggbOnInit"
      }
    ],
    "no-useless-escape": "warn",
    "no-var": "warn",
    "object-shorthand": "warn",
    "prefer-const": "warn",
    "prefer-destructuring": "warn",
    "prefer-object-spread": "warn",
    "spaced-comment": "warn"
  },
  "globals": {
    "components": "readonly",
    "slide": "readonly",
    "utils": "readonly",
    "didUtils": "readonly",
    "autorun": "readonly",
    "controls": "readonly",
    "getFromSlide": "readonly",
    "window": "readonly",
    "document": "readonly",
    "ggbApplet": "readonly"
  }
}
